[role="tablist"] {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  margin-bottom: 0.5rem;
  z-index: 50;
}

[role="tablist"]::after {
  content: "";
  position: absolute;
  opacity: 0.8;
  height: 3px;
  width: 100%;
  translate: var(--_left) 0;
  scale: var(--_width) 1;
  bottom: 0;
  left: 0;
  transition: translate 250ms ease-in-out, scale 250ms ease-in-out;
  transform-origin: left;
}

[role="tab"] {
  background: transparent;
  padding: 1em 1.88em;
  border: 0;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.4;
  cursor: pointer;
}

[role="tab"]:hover {
  opacity: 1;
}

[role="tab"][aria-selected="true"] {
  border-bottom: 0.2rem solid hsla(0, 0%, 0%, 0.5);
  opacity: 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  grid-template-rows: 0.9fr;
  gap: 0px 0px;
  grid-template-areas: ". myArea";
  order: -1;
}

.item1 {
  grid-area: myArea;
}
